/*reset*/
html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{
    margin:0;
    padding:0;
}
html{
    height:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
}
body{
    background-color:#eee;
    color:#666;
    min-height:100%;
    height:auto!important
    ;height:100%;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
img,fieldset{
    border:0;
    vertical-align:middle;
}
a{
    text-decoration:none;
}
a:visited{}a:hover{
    text-decoration:underline;
}
a:active{}ul,li,ol{list-style:none}
strong,b{
    font-weight:normal;
}
em,i{
    font-style:normal;
}
iframe{
    display:block;
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px 18px;
    padding:0.35em 0.625em 0.75em;
}
legend{
    border:0;
    padding:0;
    white-space:normal;
    *margin-left:-7px;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}
s{
    text-decoration:none;
}
/*public*/
.fl{
    display:inline;float:left;
}
.fr{
    display:inline;float:right;
}
.cf:after{
    content:"";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
}
.cf{
    zoom:1;
}
.pb10{
    padding-bottom:10px;
}
.mt10{
    margin-top:10px;
}
.contact-a{
    color: #fff;
}
.contact-a:hover,
.contact-a:visited{
    text-decoration: none;
    color: aliceblue;
}
/*main*/
@media (min-width: 1168px) {
    .case{
        width:1130px;
        margin:100px auto;
        background:#fff;
        padding:15px;
        padding-bottom: 0;
        box-shadow:0 0 20px #ccc;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .case .title{
        height:20px;
        border-bottom: 3px solid #e7e7e7;
        padding-bottom:50px;
    }
    .case .title h2{ 
        font-size: 20px;
        font-family: "microsoft yahei";
    }
    .case .title-list{ 
        position: relative; 
        top: 6px;
    }
    .case .title-list li{ 
        width: 146px;
         line-height: 20px; 
         text-align: center; 
         float: left;
          display: inline;
        }
    .case .title-list li.on{
         color: #1f386e; 
         font-weight: bold;
        }
    .case .title-list p{
        position:absolute;
        top:24px;left:0px;
        width:146px;
        height:7px;
        border-top: 3px solid  #1f386e; 
        overflow: hidden; 
        text-align: center;
    }
    .case .title-list b{display:inline-block;
        width:0;height:0;
        margin-top:-3px;
        border-style:solid dashed dashed dashed;
        border-width:9px;border-color:  #1f386e #fff #fff #fff;
        overflow: hidden;
        zoom: 1;font-size: 0;
    }
    .product1-header:hover,
    .product2-box:hover,
    .product3-box:hover,
    .product3-box1:hover,
    .product4-header:hover,
    .product4-container-box:hover,
    .product1-container-box1:hover,
    .product1-container-box2:hover{
        cursor: pointer;
        border: 2px solid rgb(70, 70, 129);
    }
    .product{ 
        height: 450px; 
        position: relative;
        display: none;
         overflow: hidden;
        }
    .product1{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-rows: 200px 250px;
    }
    .product1-header{
        border-bottom: 2px solid #e7e7e7;
    }
    .product1-container{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-columns: 560px 535px;
    }
    .product1-span{
        padding: 0;
        margin-top: 20px;
        margin-left: 20px;
        display: block;
        font-size: 20px;
    }
    .product1-p-container{
        display: grid;
        grid-template-columns: 860px 235px;
    }
    .product1-p{
        padding-left: 20px;
        line-height: 10px;
        border: none;
    }
    .product1-p-img{
        margin-top: 20px;
        margin-left: 50px;
        width: 150px;
        height: 150px;
    }
    .product1-container-box1{
        margin: 0;
        padding: 0;
        border-right: 2px solid #e7e7e7;
    }
    .product1-container-box2{
        width: 100%;
        padding-left: 20px;
    }
    .product1-container-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product1-container-box1-span{
        padding-left: 20px;
    }
    .product1-container-box1-svg{
     margin-left: 480px;   
    }
    .product1-container-box2-svg{
        margin-left: 450px;   
    }
    .productall2{
            height: 300px; 
            position: relative;
            display: none;
             overflow: hidden;
    }
    .product2{
        height: 100%;
        margin-top: 50px;
        display: grid !important;
        grid-template-columns: 400px 240px 240px 220px;
    }
    .product2-box{
        border-right: 2px solid #e7e7e7;
    }
    .product2-box-p1{
        padding-left: 20px;
        font-size: 20px;
    }
    .product2-box-span1{
        padding-left: 20px;
    }
    .product2-box-p2{
        padding-left: 20px;
    }
    .product2-box-span2{
        padding-left: 10px;
    }
    .product2-box-span2-box{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product3{
        height: 100%;
        margin-top: 20px;
        display: grid !important;
        grid-template-columns: 720px 360px;
    }
    .product3-box{
        border-right:  2px solid #e7e7e7;
        display: grid;
        grid-template-columns: 200px 520px;
    }
    .product3-box-img{
        margin-top: 45px;
    }
    .product3-box-p{
        font-size: 20px;
    }
    .product3-box-span-box{
        padding-right: 10px;
    }
    .product3-box-span{
        padding-left: 20px;
    }
    .product3-box-p2{
        padding-left: 20px;
    }
    .product3-box-p2-box{
        width: 100%;
        padding-left: 10px;
    }
    .product4{
        width: 100%;
        display: grid !important;
        grid-template-rows: 220px 220px;
    }
    .product4-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product4-box1-span-box{
        padding-left: 20px;
    }
    .product4-box1-span{
        padding-left: 20px;
    }
    .product4-box1-img{
        padding-left: 50px;
        padding-top: 40px;
    }
    .product4-header{
        display: grid !important;
        grid-template-columns: 840px 245px;
        border-bottom: 2px solid #e7e7e7;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .product4-container{
        display: grid !important;
        grid-template-columns: 280px 280px 270px 270px;
    }
    .product4-container-box{
        border-right: 2px solid #e7e7e7;
    }
    .product4-container-box1{
        border-left: 2px solid #e7e7e7;
    }
    .product4-container-box-p{
        padding-left: 20px;
    }
    .product4-container-box-span{
        padding-left: 20px;
    }
    .product4-container-box-span-box{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width:720px) and (max-width:1168px){
    .case{
        width:100%;
        margin:100px auto;
        background:#fff;
        padding:15px;
        padding-bottom: 0;
        box-shadow:0 0 20px #ccc;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .case .title{
        height:20px;
        border-bottom: 3px solid #e7e7e7;
        padding-bottom:50px;
    }
    .case .title h2{ 
        font-size: 20px;
        font-family: "microsoft yahei";
    }
    .case .title-list{ 
        position: relative; 
        top: 6px;
    }
    .case .title-list li{ 
        width: 146px;
         line-height: 20px; 
         text-align: center; 
         float: left;
          display: inline;
        }
    .case .title-list li.on{
         color: #1f386e; 
         font-weight: bold;
        }
    .case .title-list p{
        position:absolute;
        top:24px;left:0px;
        width:15vw;
        height:7px;
        border-top: 3px solid  #1f386e; 
        overflow: hidden; 
        text-align: center;
    }
    .case .title-list b{display:inline-block;
        width:0;height:0;
        margin-top:-3px;
        border-style:solid dashed dashed dashed;
        border-width:9px;border-color:  #1f386e #fff #fff #fff;
        overflow: hidden;
        zoom: 1;font-size: 0;
    }
    .product1-header:hover,
    .product2-box:hover,
    .product3-box:hover,
    .product3-box1:hover,
    .product4-header:hover,
    .product4-container-box:hover,
    .product1-container-box1:hover,
    .product1-container-box2:hover{
        cursor: pointer;
        border: 2px solid rgb(70, 70, 129);
    }
    .product{ 
        height: 460px; 
        position: relative;
        display: none;
         overflow: hidden;
        }
    .product1{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-rows: 200px 250px;
    }
    .product1-header{
        border-bottom: 2px solid #e7e7e7;
    }
    .product1-container{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-columns: 40% 60%;
    }
    .product1-span{
        padding: 0;
        margin-top: 20px;
        margin-left: 20px;
        display: block;
        font-size: 20px;
    }
    .product1-p-container{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .product1-p{
        padding-left: 20px;
        line-height: 10px;
        border: none;
    }
    .product1-p-img{
        margin-top: 20px;
        margin-left: 30px;
        width: 150px;
        height: 150px;
    }
    .product1-container-box1{
        margin: 0;
        padding: 0;
        border-right: 2px solid #e7e7e7;
    }
    .product1-container-box2{
        width: 100%;
        padding-left: 20px;
    }
    .product1-container-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product1-container-box1-span{
        padding-left: 20px;
    }
    .product1-container-box1-svg{
     margin-left: 30vw;   
    }
    .product1-container-box2-svg{
        margin-left: 45vw;   
    }
    .icon1{
        width: 0;
    }
    .productall2{
            height: 320px; 
            position: relative;
            display: none;
             overflow: hidden;
    }
    .product2{
        height: 100%;
        margin-top: 50px;
        display: grid !important;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .product2-box{
        border-right: 2px solid #e7e7e7;
    }
    .product2-box2{
        border-right: none;
    }
    .product2-box-p1{
        padding-left: 20px;
        font-size: 20px;
    }
    .product2-box-span1{
        padding-left: 20px;
    }
    .product2-box-p2{
        padding-left: 20px;
    }
    .product2-box-span2{
        padding-left: 10px;
    }
    .product2-box-span2-box{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product3{
        height: 100%;
        margin-top: 20px;
        display: grid !important;
        grid-template-columns: 60% 40%;
    }
    .product3-box{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .product3-box1{
        border-left: 2px solid #e7e7e7;
    }
    .product3-box-img{
        margin-top: 45px;
    }
    .icon2{
        width: 100px;
    }
    .product3-box-p{
        font-size: 20px;
    }
    .product3-box-span-box{
        padding-right: 10px;
    }
    .product3-box-span{
        padding-left: 20px;
    }
    .product3-box-p2{
        padding-left: 20px;
    }
    .product3-box-p2-box{
        width: 100%;
        padding-left: 10px;
    }
    .product4{
        width: 100%;
        display: grid !important;
        grid-template-rows: 220px 220px;
    }
    .product4-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product4-box1-span-box{
        padding-left: 20px;
    }
    .product4-box1-span{
        padding-left: 20px;
    }
    .product4-box1-img{
        padding-left: 50px;
        padding-top: 40px;
    }
    .product4-header{
        display: grid !important;
        grid-template-columns: 100% 0%;
        border-left: 2px solid #e7e7e7;
        border-right: 2px solid #e7e7e7;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .product4-container{
        display: grid !important;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .product4-container-box{
        border: 2px solid #e7e7e7;
    }
    .product4-container-box2{
        border-left: none;
    }
    .product4-container-box-p{
        padding-left: 20px;
    }
    .product4-container-box-span{
        padding-left: 20px;
    }
    .product4-container-box-span-box{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width:430px) and (max-width:720px){
    .case{
        width:100%;
        margin:100px auto;
        background:#fff;
        padding:15px;
        padding-bottom: 0;
        box-shadow:0 0 20px #ccc;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .case .title{
        height:20px;
        border-bottom: 3px solid #e7e7e7;
        padding-bottom:50px;
    }
    .case .title h2{ 
        font-size: 20px;
        font-family: "microsoft yahei";
    }
    .case .title-list{ 
        position: relative; 
        top: 6px;
    }
    .case .title-list li{ 
        width: 80px;
         line-height: 20px; 
         text-align: center; 
         float: left;
          display: inline;
        }
    .case .title-list li.on{
         color: #1f386e; 
         font-weight: bold;
        }
    .case .title-list p{
        position:absolute;
        top:24px;left:0px;
        width:146px;
        height:7px;
        border-top: 3px solid  #1f386e; 
        overflow: hidden; 
        text-align: center;
    }
    .case .title-list b{display:inline-block;
        width:0;height:0;
        margin-top:-3px;
        border-style:solid dashed dashed dashed;
        border-width:9px;border-color:  #1f386e #fff #fff #fff;
        overflow: hidden;
        zoom: 1;font-size: 0;
    }
    .product1-header:hover,
    .product2-box:hover,
    .product3-box:hover,
    .product3-box1:hover,
    .product4-header:hover,
    .product4-container-box:hover,
    .product1-container-box1:hover,
    .product1-container-box2:hover{
        cursor: pointer;
        border: 2px solid rgb(70, 70, 129);
    }
    .product{ 
        height: 650px; 
        position: relative;
        display: none;
         overflow: hidden;
        }
    .product1{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-rows: 300px 350px;
    }
    .product1-header{
        border-bottom: 2px solid #e7e7e7;
    }
    .product1-container{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-columns: 50% 50%;
    }
    .product1-span{
        padding: 0;
        margin-top: 20px;
        margin-left: 20px;
        display: block;
        font-size: 20px;
    }
    .product1-p-container{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .product1-p{
        padding-left: 20px;
        line-height: 10px;
        border: none;
    }
    .product1-p-img{
        margin-top: 20px;
        margin-left: 10vw;
        width: 150px;
        height: 150px;
    }
    .product1-container-box1{
        margin: 0;
        padding: 0;
        border-right: 2px solid #e7e7e7;
    }
    .product1-container-box2{
        width: 100%;
        padding-left: 20px;
    }
    .product1-container-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product1-container-box1-span{
        padding-left: 20px;
    }
    .product1-container-box1-svg{
     width: 0px;  
    }
    .product1-container-box2-svg{
        width: 0px;
    }
    .productall2{
            height: 500px; 
            position: relative;
            display: none;
             overflow: hidden;
    }
    .product2{
        height: 100%;
        margin-top: 50px;
        display: grid !important;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        margin-left: 60px;
    }
    .product2-box{
        border: 2px solid #e7e7e7;
        margin-left: 20px;
        margin-top: 20px;
    }
    .product2-box-p1{
        padding-left: 20px;
        font-size: 20px;
    }
    .product2-box-span1{
        padding-left: 20px;
    }
    .product2-box-p2{
        padding-left: 20px;
    }
    .product2-box-span2{
        padding-left: 10px;
    }
    .product2-box-span2-box{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product3{
        height: 100%;
        margin-top: 20px;
        display: grid !important;
        grid-template-rows: 50% 30%;
    }
    .product3-box{
        border:  2px solid #e7e7e7;
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 20px;
    }
    .product3-box1{
        margin-top: 20px;
        border:  2px solid #e7e7e7;
    }
    .product3-box-img{
        margin-top: 45px;
    }
    .product3-box-p{
        font-size: 20px;
    }
    .product3-box-span-box{
        padding-right: 10px;
    }
    .product3-box-span{
        padding-left: 20px;
    }
    .product3-box-p2{
        padding-left: 20px;
    }
    .product3-box-p2-box{
        width: 100%;
        padding-left: 10px;
    }
    .product4{
        width: 100%;
        display: grid !important;
        grid-template-rows: 220px 440px;
    }
    .product4-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product4-box1-span-box{
        padding-left: 20px;
    }
    .product4-box1-span{
        padding-left: 20px;
    }
    .product4-box1-img{
        width: 0px;
    }
    .product4-header{
        display: grid !important;
        grid-template-columns: 100% 0%;
        border: 2px solid #e7e7e7;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .product4-container{
        display: grid !important;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px;
    }
    .product4-container-box{
        margin-top: 10px;
        margin-left: 10px;
        border: 2px solid #e7e7e7;
    }
    .product4-container-box-p{
        padding-left: 20px;
    }
    .product4-container-box-span{
        padding-left: 20px;
    }
    .product4-container-box-span-box{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width:430px){
    .case{
        width:100%;
        margin:100px auto;
        background:#fff;
        padding:15px;
        padding-bottom: 0;
        box-shadow:0 0 20px #ccc;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .case .title{
        height:20px;
        border-bottom: 3px solid #e7e7e7;
        padding-bottom:50px;
    }
    .case .title h2{ 
        font-size: 10vw;
        font-family: "microsoft yahei";
    }
    .case .title-list{ 
        position: relative; 
        top: 6px;
    }
    .case .title-list li{ 
        width: 80px;
         line-height: 20px; 
         text-align: center; 
         float: left;
          display: inline;
        }
    .case .title-list li.on{
         color: #1f386e; 
         font-weight: bold;
        }
    .case .title-list p{
        position:absolute;
        top:24px;left:0px;
        width:130px;
        height:7px;
        border-top: 3px solid  #1f386e; 
        overflow: hidden; 
        text-align: center;
    }
    .case .title-list b{display:inline-block;
        width:0;height:0;
        margin-top:-3px;
        border-style:solid dashed dashed dashed;
        border-width:9px;border-color:  #1f386e #fff #fff #fff;
        overflow: hidden;
        zoom: 1;font-size: 0;
    }
    .product1-header:hover,
    .product2-box:hover,
    .product3-box:hover,
    .product3-box1:hover,
    .product4-header:hover,
    .product4-container-box:hover,
    .product1-container-box1:hover,
    .product1-container-box2:hover{
        cursor: pointer;
        border: 2px solid rgb(70, 70, 129);
    }
    .product{ 
        height: 900px; 
        position: relative;
        display: none;
         overflow: hidden;
         margin-top: 60px;
        }
    .product1{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-rows: 300px 550px;
    }
    .product1-header{
        border: 2px solid #e7e7e7;
        margin-top: 20px;
    }
    .product1-container{
        margin: 0;
        padding: 0;
        display: grid !important;
        grid-template-rows: 275px 275px;
    }
    .product1-span{
        padding: 0;
        margin-top: 20px;
        margin-left: 20px;
        display: block;
        font-size: 20px;
    }
    .product1-p-container{
        display: grid;
        grid-template-rows: 300px 0px;
    }
    .product1-p{
        padding-left: 20px;
        line-height: 10px;
        border: none;
    }
    .product1-p-img{
        overflow: hidden;
    }
    .product1-container-box1{
        margin-top: 20px;
        padding: 0;
        border: 2px solid #e7e7e7;
    }
    .product1-container-box2{
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        border: 2px solid #e7e7e7;
    }
    .icon{
        float: right;
    }
    .productall2{
            height: 900px; 
            position: relative;
            display: none;
             overflow: hidden;
    }
    .product2{
        height: 100%;
        margin-top: 20px;
        display: grid !important;
        grid-template-rows: 200px 200px 200px 200px;
    }
    .product2-box{
        border: 2px solid #e7e7e7;
        margin-bottom: 20px;
    }
    .product2-box-p1{
        padding-left: 20px;
        font-size: 20px;
    }
    .product2-box-span1{
        padding-left: 20px;
    }
    .product2-box-p2{
        padding-left: 20px;
    }
    .product2-box-span2{
        padding-left: 10px;
    }
    .product2-box-span2-box{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .productall3{
        height: 600px;
    }
    .product3{
        height: 100%;
        margin-top: 20px;
        display: grid !important;
        grid-template-rows: 250px 250px;
    }
    .product3-box{
        border: 2px solid #e7e7e7;
    }
    .icon2{
        width: 0vw;
    }
    .product3-box1{
        border:  2px solid #e7e7e7;
        margin-top: 20px;
    }
    .product3-box-p{
        font-size: 20px;
    }
    .product3-box-span-box{
        padding-right: 10px;
    }
    .product3-box-span{
        padding-left: 20px;
    }
    .product3-box-p2{
        padding-left: 20px;
    }
    .product3-box-p2-box{
        width: 100%;
        padding-left: 10px;
    }
    .productall4{
        height: 1100px;
    }
    .product4{
        width: 100%;
        display: grid !important;
        grid-template-rows: 300px 800px;
    }
    .icon2{
        width: 0px;
    }
    .product4-box1-p{
        font-size: 20px;
        padding-left: 20px;
    }
    .product4-box1-span-box{
        padding-left: 20px;
    }
    .product4-box1-span{
        padding-left: 20px;
    }
    .product4-box1-img{
        padding-left: 50px;
        padding-top: 40px;
    }
    .product4-header{
        border: 2px solid #e7e7e7;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .product4-container{
        display: grid !important;
        grid-template-rows: 200px 200px 200px 200px;
    }
    .product4-container-box{
        margin-top: 10px;
        border: 2px solid #e7e7e7;
    }
    .product4-container-box-p{
        padding-left: 20px;
    }
    .product4-container-box-span{
        padding-left: 20px;
    }
    .product4-container-box-span-box{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.product ul{
     position: absolute; 
    left: 0px;
}
.product-wrap .show{ 
    display: block;
}
.product-wrap .product li{ 
    float: left;
     display: inline;
      margin-left: 13px;
      background: #f3f3f3;
      border: 2px solid #fafafa; 
      transition:0.4s;
      -webkit-transition:0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -ms-transition: 0.4s;
    }
.product-wrap .product li.ml0{
    margin-left:0px;
}
.product-wrap .product li a.imgwrap{ 
    display: block; 
    width: 226px;
     height: 200px; 
     background: #fff; 
     text-align:center;
    }
.product-wrap .product li p{
    padding-left: 15px;color: #666666;
    line-height: 22px;
}
.product-wrap .product li p a{ 
    color: #666666; 
    text-decoration: none;
}
.product-wrap .product li p a:hover{ 
    color: #ff6600;
     text-decoration: none;
    }
